.dark .ce-block--selected .ce-block__content,
.dark .ce-inline-toolbar,
.dark .codex-editor--narrow .ce-toolbox,
.dark .ce-conversion-toolbar,
.dark .ce-settings,
.dark .ce-settings__button,
.dark .ce-toolbar__settings-btn,
.dark .ce-toolbar__plus:hover {
  background: #09090b;
  color: inherit;
  border-color: theme("colors.border");
}

.dark .ce-inline-tool,
.dark .ce-conversion-toolbar__label,
.dark .ce-toolbox__button,
.dark .cdx-settings-button,
.dark .ce-toolbar__plus {
  background-color: #18181b;
  color: #fafafa;
  border-color: #27272a;
}

.dark .ce-popover__item-icon,
.dark .ce-conversion-tool__icon {
  background-color: #18181b;
  color: #fafafa;
  box-shadow: none;
}

.dark .cdx-search-field {
  border-color: theme("colors.border");
  background: theme("colors.input");
  color: inherit;
}
.dark .cdx-settings-button:hover,
.dark .ce-settings__button:hover,
.dark .ce-toolbox__button--active,
.dark .ce-toolbox__button:hover,
.dark .cdx-button:hover,
.dark .ce-inline-toolbar__dropdown:hover,
.dark .ce-inline-tool:hover,
.dark .ce-popover__item:hover,
.dark .ce-conversion-tool:hover,
.dark .ce-toolbar__settings-btn:hover {
  background-color: #18181b;
  color: #fafafa;
}

.dark .ce-popover__item {
  background-color: #18181b;
  color: #fafafa;
  border-color: #27272a;
}

.dark .ce-popover-item:hover {
  background-color: #27272a;
}

.dark .ce-popover-item__title {
  color: #fafafa;
}

.dark .ce-popover {
  background-color: #09090b;
  color: #fafafa;
  border-color: #27272a;
}

.dark .cdx-notify--error {
  background: theme("colors.destructive.DEFAULT") !important;
}

.dark .cdx-notify__cross::after,
.dark .cdx-notify__cross::before {
  background: white;
}
